{% extends "base.html" %}

{% block content %}
<div class="uk-container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Users</h1>

      <table class="uk-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Peran</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.role }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
